@import "../Vars.scss";

// ----- Hero -----
.Hero {
    width: 100vw;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
    @media screen and (max-width:900px) {
        flex-direction: column;
    }
}
.Hero__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Hero__image {
    object-fit: cover;
    height: 290px;
    right: 0;

    @media screen and (max-width:900px) {
        height: 240px;
    }
}
.Hero__title {
    margin-top: 30px;
    text-align: start;
    font-size: 22px;
    font-weight: 500;
}
.Hero__button {
    margin: auto;
    padding: 12px 36px;
    border: none;
    border-radius: 8px;
    background-color: #a21e25;
    color: #fff;
    text-decoration: none;
}
// --------------------

// ----- Home -----
.Home {
    overflow: hidden;

    h1 {
        text-align: center;
    }
}

.Home__hero {
    // object-fit: cover;
    width: 100vw;
}

.Home__container {
    // width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Item {
    margin: 16px;
    width: 280px;
    border: 2px solid $primary-color;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.Item__container {
    height: 240px;

    img {
        width: 280px;
        height: 240px;
    }

    .Item__image {
        object-fit: cover;
    }
}

.Item__text {
    margin: 6px;
    height: 60px;
}

.Item__title {
    font-size: 18px;
    color: #a21e25;
}

@media screen and (max-width:769px) {

    .Item__container {
        height: 245px;
    
        img {
            width: 280px;
            height: 245px;
        }
    }
}
// --------------------