@import "../Vars.scss";

.Sensor__container {
    h2 {
        text-align: center;
    }
}
.Sensor__grafica {
    overflow: hidden;
    margin: auto;
    margin-top: 24px;
    padding: 4px 12px;
    height: 320px;
    width: 600px;
    // background-color: #fff;
    // border: 1px solid #000;
}
.Sensor__card {
    width: 98%;
    margin: 4px 12px;
    margin-bottom: 60px;
    padding: 4px;
    border: 1px solid #313434;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    thead {
        width: 100%;
    }
    tr {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    tbody {
        width: 100%;
    }
    td {
        display: flex;
    }
    p {
        margin: 4px;
    }
}
.Sensor__button--delete {
    margin: 4px 12px;
    border: 0;
    border-radius: 16px;

    background-color: #e94040;
    color: #fff;
    height: 32px;
    width: 32px;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 700;
}
.Sensor__button {
    margin: 4px;
    border: 0;
    border-radius: 16px;
    background-color: #3483fa;
    height: 32px;
    width: 32px;  
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 700;
    
    .edit {
        margin: auto;
        text-decoration: none;
        color: #fff;
    }
}
.CrearMedicion_button {
    margin: 6px auto;
    padding-top: 10px;
    width: 100%;
    max-width: 180px;
    height: 32px;
    border: 0;
    border-radius: 8px;
    background-color: #409e3d;
    color: #fff;
    font-family: $primary-font;
    // font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    .link {
        margin-top: 12px;
        color: #fff;
        font-weight: 700;
    }
}